/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2018, 7:53:25 PM
    Author     : Nghĩa
*/

 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    * {
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
body {
    margin: 0;

    //font-family: Arial, Helvetica, sans-serif;
}
.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(.../pictures/back2.jpg);
    background-size: cover;
    z-index: 0;    
    -webkit-filter: blur(1px);

}
.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}
.container{
    position: absolute;
    left: 7%;
    font-family: 'Exo', sans-serif;
    z-index: 2;
    background-color: transparent;

}
.dropdown-menu b{
    font-family: 'Exo', sans-serif;
    color:#338ed0;   
}
header{
    font-family: 'Exo', sans-serif;
    color:#338ed0;   
}

body{
    font-family: 'Exo', sans-serif;
    color:#338ed0;   
}
.panel-group{
    overflow: auto;
    background-color: transparent;
}

.panel-default{
    margin-top: 120px;
    overflow: auto;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    background-color: transparent;
}
.panel-heading{
    width: 30%;
    max-height: 500px;
    float: left;
    height: 500px;
}
.panel-body{
    width: 70%;
    height:100%;
    float: right;
    background-color: white;
    color:#FF66CC;
    background-color: transparent;
}
.panel-body input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    border-color: #FF66CC;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.panel-body input[type=submit]{
    width: 250px;
    height: 35px;
    background: #FF66CC;
    border: 1px solid #fff;
    cursor: pointer;
    border-color:#FF66CC;
    border-radius: 2px;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    margin-left: 10px;
}
.panel-body strong{
    margin-top: 5px;
    color:#FF66CC;
}
.modal-body input[type=text], input[type=email], input[type=date]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    border-color: black;
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    margin-left: 10px;
}
.modal-body .rad{
    margin-top: 10px;
    margin-left: 10px;

}
#buttonuser{
    max-width: 160px; overflow: hidden; text-overflow: ellipsis;margin-bottom: 5px;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5%;
}
#caret{
    border-top: 10px dashed;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
